.container {
  @apply px-4 py-1 min-w-full relative min-h-20;
  border-bottom: 1px solid;
}

.groupSecondLine {
  @apply flex flex-row;
}

.keyFlexGroup {
  @apply flex flex-row w-full items-center;
}

.closeBtnContainer {
  @apply ml-auto;

}

.closeBtn {
  @apply pt-0;

  svg {
    @apply w-4 h-4;
  }
}

.groupSecondLine {
  @apply pt-[10px];
  line-height: 28px;
  > * {
    @apply pr-2;
  }
}


.subtitleActionBtns {
  @apply flex justify-end items-center;
  right: 13px;
}


.actionBtn {
  @apply mr-3 relative;
  z-index: 2;
}

.keySpinner {
  @apply absolute w-full -ml-4 -bottom-1.5;

  span {
    @apply w-full #{!important};
  }
}
