.container {
  @apply flex flex-row pl-[15px];

  &:hover {
    background: var(--vscode-merge-commonHeaderBackground);
  }
}

.btn {
  @apply w-full h-[22px] z-10 rounded-none overflow-hidden pt-[2px] text-vscode-icon-foreground;
  background: transparent;

  &::part(control) {
    @apply justify-start border-none text-vscode-icon-foreground pl-px h-[18px];
  }
}

.text {
  @apply truncate text-vscode-foreground opacity-80 pl-2;
  font-size: 11px;
  line-height: 16px;
}

.textContainer {
  @apply flex flex-row truncate;
  width: calc(100vw - 60px);
}
