# source
src
scripts
assets
patches
!assets/logo.png

# output
# dist
!dist/webviews/style.css
!dist/extension.js
**/*.map
*.map
*.md
*.vsix
*.config.js
node_modules
!node_modules/dotenv
!node_modules/detect-port
!node_modules/ms/index.js
!node_modules/address
!node_modules/debug
vite.config.mjs
*.zip
.eslintignore
.env.stage

# test
coverage
test
report
reports
tests
test-workspace
.vscode-test

# configs
.circleci
.husky
.idea
.github
.vscode
*.local
tsconfig.*
.eslintrc*
.prettier*
.gitignore
pnpm-lock.yaml

# esbuild-visualizer
meta.json
stats.html
