$inputHeight: 26px;
$inputMinWidth: 100px;

.input {
  @apply bg-vscode-input-background text-vscode-input-foreground border-vscode-input-border truncate w-full px-[6px] outline-none border-solid border rounded-none hover:cursor-pointer focus:cursor-text focus:outline-none focus:border-vscode-inputOption-activeBorder;

  height: $inputHeight;
  min-width: $inputMinWidth;
}

.withAppend {
  @apply pl-12;
}

.append {
  @apply absolute h-full;
}

.invalid {
  @apply border-error #{!important};
}
