.container {
  @apply flex flex-col overflow-hidden h-full;
}

.header {
  @apply flex items-center h-[46px];

  @media (max-width: 1123px) {
    padding: 0 10px;
  }
}

.content {
  @apply h-full relative;
  > div {
    @apply h-full
  }
}

:global(.show-cli) .content {
  border-bottom-width: 1px !important;
}

.contentActive {
  /* border-color: var(--euiColorPrimary) !important;
  border-bottom-width: 1px !important; */
}

:global(.key-details-body) {
  @apply relative;
  height: calc(100% - 85px);
}

:global(.key-details-footer) {
  @apply mx-4 my-0 py-3;
}

.actionBtn {
  @apply relative mr-3;
  z-index: 2;
}
