.keyInfoLoading {
  width: 70%;
  margin-top: 7px;
}

.keyNameContainer {
  @apply flex truncate h-full;
}

.keyName {
  @apply inline-block truncate;
  padding-left: 10px;
  line-height: 22px;
  max-width: calc(100% - 13px);
}

.icon {
  @apply inline-block h-full;
  margin-left: 1px;
  min-width: 13px;
}
