.content {
  @apply text-center p-[16px] w-[575px] min-w-[575px];
}

.title {
  @apply text-[28px] text-center;
}

.subTitle {
  @apply text-[14px] text-center px-[40px] pt-[24px];
}
  
.providers {
  @apply w-full flex flex-row justify-between items-center pt-[30px] pr-[45px] pb-[22px] pl-[45px];

  .providerBtn {
    @apply w-[138px] h-[105px] rounded-[8px] border border-solid;

    &.activeProvider {
      border: 2px solid var(--vscode-focusBorder);
    }

    svg {
      @apply w-auto h-auto max-w-[44px];
    }
  }
}

.provider {
  @apply relative;
}

.providerLabel {
  @apply text-[10px];
}

.providerActiveIcon {
  @apply absolute left-0 right-0 mx-auto w-[22px] h-[22px] rounded-full flex justify-center;
  background-color: var(--vscode-focusBorder);
  top: -10px;
  z-index: 5;

  svg {
    @apply w-[12px] h-[12px];
    stroke-width: 1;
  }
}


.awsIcon svg > path:first-of-type {
  fill: currentColor;
}

.region {
  @apply pl-[45px] py-[2px] text-left;

  .selectDescription {
    @apply mt-[10px];
  }
}

.select {
  @apply w-full mt-[5px];
}

.footer {
  @apply w-full text-right pt-[32px] pb-[1px];
}

.button {
  @apply ml-[8px];
}
