.content {
  @apply text-center p-[16px] w-[575px] min-w-[575px];
}

.title {
  @apply text-[28px] text-center;
}

.subTitle {
  @apply text-[14px] text-center px-[40px] pt-[24px];
}
  
.providers {
  @apply w-full flex flex-row justify-between items-center pt-[30px] pr-[45px] pb-[22px] pl-[45px];

  .providerBtn {
    @apply w-[138px] h-[105px] rounded-[8px];  
    
    border: 1px solid;

    &.activeProvider {
      border: 2px solid var(--vscode-focusBorder);
    }

    svg {
      @apply w-auto h-auto max-w-[44px];
    }
  }
}

.provider {
  @apply relative;
}

.providerLabel {
  @apply text-[10px];
}

.providerActiveIcon {
  @apply absolute left-0 right-0 mx-auto w-[22px] h-[22px] rounded-full flex justify-center;
  background-color: var(--vscode-focusBorder);
  top: -10px;
  z-index: 5;

  svg {
    @apply w-[12px] h-[12px];
    stroke-width: 1;
  }
}

.awsIcon svg > path:first-of-type {
  fill: currentColor;
}

.region {
  padding: 2px 45px;
  text-align: left;

  .selectDescription {
    padding-top: 10px;
    color: var(--euiColorMediumShade) !important;
  }

  :global(.euiSuperSelectControl) {
    border-radius: 4px;
    background-color: var(--euiColorLightestShade) !important;
  }

  :global(.euiTextColor) {
    font-size: 14px !important;
  }
}

.regionSelectItem {
  background-color: var(--euiColorLightestShade) !important;
  &:hover {
    background-color: var(--hoverInListColorLight) !important;
  }

  :global(.euiTextColor) {
    font-size: 14px !important;
  }

  :global(.euiContextMenuItem__text) {
    position: relative;
  }
}

.regionName {
  padding-left: 4px;
  color: var(--euiColorMediumShade) !important;
}

.footer {
  @apply w-full text-right pt-[32px] pb-[1px];
}

.button {
  @apply ml-[8px];
}

:global(.euiTextColor).rspreview {
  font-size: 12px !important;
  margin-left: 11px;
  color: var(--euiColorMediumShade) !important;
}
