.container {
  @apply w-full h-full flex flex-row flex-grow items-stretch bg-vscode-input-background;

  &:hover .controls{
    @apply flex;
  }
}

.field {
  @apply bg-vscode-input-background;
  min-width: 72px;
  max-width: 100% !important;
  height: 100% !important;

  &:focus {
    outline: none !important;
  }
}

.controls {
  @apply hidden;
  z-index: 3;

  &Bottom {
    @apply items-end pb-3 mr-3;

    .applyBtn {
      @apply h-[22px];
    }
  }

  &Center {
    @apply items-center;

    .applyBtn {
      @apply h-full bg-vscode-button-background min-h-[28px] w-full;
      border-radius: 0 !important;
    }
  }

  .tooltip,
  .popoverWrapper {
    width: 50% !important;
    height: 100% !important;
  }
}

.applyBtn {
  @apply flex items-center;
}

.declineBtn {
  @apply flex -ml-[22px];
}


.popoverPanel:global(.euiPanel--paddingMedium) {
  width: 296px !important;
  padding: 24px 30px !important;
  /* border: 1px solid var(--euiColorPrimary) !important; */
  /* background-color: var(--browserTableRowEven) !important; */

  :global(.euiPopover__panelArrow:after) {
    /* border-left-color: var(--browserTableRowEven) !important; */
  }
  :global(.euiPopover__panelArrow:before) {
    /* border-left-color: var(--euiColorPrimary) !important; */
  }
}

.popover {
  word-wrap: break-word;

  h4 b {
    font-size: 14px !important;
    /* color: var(--htmlColor) !important; */
  }
}
.approveText {
  font-size: 13px !important;
  letter-spacing: -0.13px;
}

.popoverFooter {
  @apply flex justify-end mt-3;

  .saveBtn {
    height: 36px !important;
    width: 86px !important;
  }
}
