$controls-height: 22px;
$controls-padding-y: 10px;

.container {
  @apply w-full h-full flex flex-row flex-grow items-stretch bg-vscode-input-background relative;

  &:hover .controls{
    @apply flex;
  }
}

.field {
  @apply bg-vscode-input-background pr-5 min-w-[90px] max-w-full h-full;

  &:focus {
    @apply outline-none;
  }
}

.controls {
  @apply hidden z-[4];

  &Bottom {
    @apply absolute right-3 top-[calc(100%-#{$controls-height+$controls-padding-y})];

    .applyBtn {
      @apply h-[#{$controls-height}];
    }
  }

  &Center {
    @apply items-center;

    .applyBtn {
      @apply h-full bg-vscode-button-background min-h-[25px] w-full rounded-none;
    }
  }

  .tooltip,
  .popoverWrapper {
    @apply w-1/2 h-full;
  }
}

.applyBtn {
  @apply flex items-center;
}

.declineBtn {
  @apply flex -ml-[22px];
}

.popover {
  @apply break-words;

  h4 b {
    @apply text-[14px];
  }
}
.approveText {
  @apply text-[13px];
  letter-spacing: -0.13px;
}

.popoverFooter {
  @apply flex justify-end mt-3;

  .saveBtn {
    @apply h-9 w-[86px];
  }
}

.invalid {
  @apply border-error #{!important};
}
