$borderWidth: 1px;
$cornerRadiusRound: 2px;
$inputMinWidth: 100px;

.input {
  @apply bg-vscode-input-background text-vscode-input-foreground border-vscode-input-border focus:border-vscode-inputOption-activeBorder outline-none p-3 border-solid border;

  border-radius: $cornerRadiusRound;
  min-width: $inputMinWidth;
}

.invalid {
  @apply border-error #{!important};
}
