@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  height: 100%;
  overflow: hidden;
}

#root[data-route="sidebar"] {
  overflow: auto;
}

body {
  padding: 0 !important;
}

h4 {
  @apply normal-case pb-2;
}

vscode-button::part(control) {
  outline-width: 0;
}

@layer components {
  .key-details-edit {
    width: calc(100% + 80px);
    margin-right: -100px;
    z-index: 2;
  }

  .key-footer-items-container {
    @apply pl-6 pb-12 overflow-auto max-h-[calc(100vh-178px)];

    input {
      @apply h-11;
    }
  }

  .sidebar-nesting-level {
    @apply w-1 min-h-max opacity-50 float-left ml-2 pr-2 h-[22px];

    border-left: 1px solid var(--vscode-foreground);
  }

  .empty-btn {
    @apply underline hover:no-underline;
    background-color: transparent;

    &::part(control) {
      @apply border-none;
    }
  }
}

.table-loading:before {
  position: absolute;
  content: '';
  width: 100%;
  height: 2px;
  background-color: #8ba2ff;
  animation: tableLoading 1000ms linear;
  animation-iteration-count: infinite;
}

@keyframes tableLoading {
  0% {
    left: 0;
    width: 0;
  }
  20% {
    left: 0;
    width: 40%;
  }
  80% {
    left: 60%;
    width: 40%;
  }
  100% {
    left: 100%;
    width: 0;
  }
}
