.nodeContainer {
  @apply pl-[20px];
  border-left: 3px solid transparent;

  &:hover {
    background-color: var(--vscode-merge-commonHeaderBackground);
  }
}

.nodeContent {
  @apply flex text-vscode-icon-foreground relative p-0 truncate items-center cursor-pointer justify-between h-full;
  letter-spacing: -0.13px;

  :global(.moveOnHoverKey) {
    transition: transform ease 0.3s;
    &.hide {
      transform: translateX(-8px);
    }
  }
  :global(.showOnHoverKey) {
    @apply hidden;
    &.show {
      @apply flex;
    }
  }

  &:hover {
    :global(.moveOnHoverKey) {
      transform: translateX(-8px);
    }
    :global(.showOnHoverKey) {
      @apply flex;
    }
  }
}

.nodeIcon {
  @apply mr-2 w-4 h-4 min-w-4;

  &Arrow {
    @apply mr-0.5;
  }

  &Leaf {
    @apply ml-[25px] mb-0.5;
  }
}

.approximate,
.keyCount {
  @apply inline-block;
}

.nodeName {
  @apply flex items-center min-w-0 pr-2;
}

.approximate {
  @apply w-[86px] min-w-[86px] text-right;
}

.keyInfoLoading {
  @apply mt-2 pl-4;
}

.deletePopover {
  @apply max-w-[400px];
}

.nestingLevel {
  @apply w-1 min-h-max opacity-50 float-left ml-2 pr-2 h-[22px];

  border-left: 1px solid var(--vscode-foreground);
}

.removeBtn {
  @apply absolute right-3;
}
